.footer__list{
    margin-right: 18px;
    
  }

  .footer__list:last-child {
    margin-right: 0;
  }

  
    @media screen and (max-width: 768px) {
        .footer__list{
            margin-right: 18px;  
          }
    }  

    @media screen and (max-width: 320px) {
        .footer__list{
            margin: 0 0 32px;  
          }
    }   