@import url(./lead__title/lead__title.css);
@import url(./lead__subtitle/lead__subtitle.css);
@import url(./lead__image/lead__image.css);
@import url(./lead__caption/lead__caption.css);

.lead {
    margin: 0 auto 0;
    display: flex;
    padding-top: 56px;
    max-width: 984px;
    min-width: 320px;
    flex-direction: column;
    align-items: center;
    }
 
  @media screen and (max-width: 1024px) {
    .lead {
        margin: 0 48px 0;
        padding-top: 48px;
        max-width: 928px;
    }
}

  @media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        margin: 0;
    }    
}   

  @media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        margin: 0;
    }
  }
     