@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-bold/intro__list-bold.css);

.intro {
    padding-top: 92px;
    padding-left: 148px;
    display: flex;
    flex-direction: column;
    max-width: 690px;
  }
 
  @media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
      }
}

  @media screen and (max-width: 768px) {
    .intro {
        padding: 88px 24px 0;
        max-width: 790px;
    }
}  

  @media screen and (max-width: 320px) {
    .intro {
        padding: 64px 16px 0;
        max-width: 288px;
      } 
}