.header {
    max-width: 1184px;
    min-width: 288px;
    padding: 28px 48px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
  
  .header__logo {
    background-image: url(../../images/header-logo.svg);
    width: 176px;
    height: 52px;
    background-size: cover;
  }
  
  .header__lang {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header__lang-link {
    width: 30px;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
  }
  
  .header__lang-text {
    margin-right: 18px;
  }
  
  .header__lang-text:last-child {
    margin-right: 0;
    
  }
  
  .header__lang-text:first-child {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
        }
  }
  
  @media screen and (max-width: 320px) {
    .header {
        padding: 16px 16px 0;
        }
    .header__logo {
        width: 142px;
        height: 42px;
        }
    .header__lang-link {
        width: 22px;
        font-size: 18px;
        line-height: 24px;
        }
    } 
