@import url(./header__logo/header__logo.css);
@import url(./header__lang/header__lang.css);
@import url(./header__lang-link/header__lang-link.css);
@import url(./header__lang-text/header__lang-text.css);

.header {
    max-width: 1184px;
    min-width: 288px;
    padding: 28px 48px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
  
  @media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
        }
  }
  
  @media screen and (max-width: 320px) {
    .header {
        padding: 16px 16px 0;
        }      
    } 
