@import url(./cover__link/cover__link.css);
@import url(./cover__title/cover__title.css);
@import url(./cover__subtitle/cover__subtitle.css);
@import url(./cover__overlay/cover__overlay.css);
@import url(./cover__background/cover__background.css);

.cover {
    padding-top: 92px;
  }

@media screen and (max-width: 768px) {
    .cover {
        padding-top: 88px;
      }
}

@media screen and (max-width: 320px) {
    .cover {
        padding-top: 64px;
      }
}  