@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
/* @import url(../bloks/page/page.css); */
@import url(../bloks/header/header.css);




.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif, 'Inter-Black', 'Inter-Bold', 'Inter-Regular',;
  background-color: #2A2C2F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/* блок header */
.header {
  width: 1184px;
  height: 52px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}

.header__logo {
  background-image: url(../images/header-logo.svg);
  width: 176px;
  height: 52px;
}

.header__lang {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__lang-link {
  width: 30px;
  height: 28px;
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.header__lang-text {
  margin-right: 18px;
}

.header__lang-text:last-child {
  margin-right: 0;
  
}

.header__lang-text:first-child {
  text-decoration: underline;
}

/* блок lead */
.lead {
  margin: 0 auto 0;
  display: flex;
  padding-top: 56px;
  max-width: 984px;
  max-height: 1005px;
  flex-direction: column;
  align-items: center;
  }

.lead__title {
  margin: 0;
  max-width: 720px;
  max-height: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  margin: 0;
  max-width: 640px;
  max-height: 72px;
  padding-top: 32px;
  padding-bottom: 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  max-width: 100%;
  height: 615px;
  padding-bottom: 8px;
}

.lead__caption {
 align-self: start;
 margin: 0;
 font-family: Inter;
 font-style: normal;
 font-weight: normal;
 font-size: 10px;
 line-height: 14px;
 letter-spacing: 0.15em;
 text-transform: uppercase;
 color: #FFFFFF;
}

/* Блок intro */
.intro {
  padding-top: 92px;
  padding-left: 148px;
  display: flex;
  flex-direction: column;
  max-width: 690px;
  max-height: 428px;
}

.intro__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

.intro__text {
  margin: 40px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.intro__list {
  margin: 32px 0 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style: none;
}

.intro__list-bold {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

/* Блок photo-grid */

.photo-grid {
  max-width: 1184px;
  min-width: 320px;
  height: 671px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  padding-top: 92px;
  margin: 0 auto 0;
}

.photo-grid__item {
  width: 284px;
  height: 213px;
}

/* Блок places */
.places{
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  padding-top: 92px;
  max-width: 984px;
  min-width: 320px;
  
}

.place {
 max-width: 984px;
 min-width: 320px;
 display: grid;
 grid-template-columns: 460px 484px;
 grid-template-rows: 1fr 460px;
 grid-gap: 48px 40px;
 margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__url-heading {
  margin: 0 0 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}

.place__image {
  max-width: 100%;

}

.place__paragraph {
 display: flex;
 flex-direction: column;
 font-family: Inter;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 30px;
 color: #FFFFFF;
 margin: 0;
}

.place__paragraph-text {
  margin: 24px 0 0;
}

.place__paragraph-text:first-child {
  margin: 0;
}

/* Блок cover */
.cover {
  
  padding-top: 92px;
}

.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1184px;
  min-width: 320px;
  margin: 0 auto 0;
  text-decoration: none;
}

.cover__link:hover .cover__overlay{
  opacity: 0.8;
  }

.cover__title {
  max-width: 560px;
  margin: 245px 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 20;
}

.cover__subtitle {
  max-width: 360px;
  margin: 32px 0 245px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 20;
}

.cover__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 10;
}

.cover__background {
  background-image: url(../images/cover-trains.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}





/* Блок footer*/
.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0;
  max-width: 1184px;
  min-width: 320px;
}

.footer__links {
  display: flex;
  list-style: none;
  margin:  0 0 24px;
  padding: 0;
  
}

.footer__list{
  margin-right: 18px;
  
}

.footer__link {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF; 
}

.footer__link:hover {
  opacity: 0.8;
}  

.footer__link:last-child {
  margin-right: 0;
}

.footer__author {
  margin: 0 0 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}

/* @media screen and (max-width: 320px) {
  .header {
    width: 228px;
    height: 42px;
  }
  .header__logo{
    width: 142px;
    height: 42px;
  }
  .header__lang-link {
    width: 22px;
    height: 24px;
  }
} */
