
.photo-grid {
    max-width: 1184px;
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    padding-top: 92px;
    margin: 0 auto 0;
  }
  
  .photo-grid__item {
    max-width: 284px;
    height: 213px;
    object-fit:cover;
    justify-self: center;
  }

  @media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 90.625vw;
        
      }
      
      .photo-grid__item {
        max-width: 29.297vw;
        height: 24.902vw;
      }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 93.750vw;
        
      }
      
      .photo-grid__item {
        max-width: 45.833vw;
        height: 34.375vw;
      }
}  

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 90vw;
      }
      
      .photo-grid__item {
        max-width: 90vw;
        height: 67.500vw;
      }
}   