.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1184px;
    min-width: 320px;
    margin: 0 auto 0;
    text-decoration: none;
  }
  
.cover__link:hover .cover__overlay{
    opacity: 0.8;
  }

@media screen and (max-width: 1024px) {
    .cover__link {
        max-width: 1184px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        max-width: 768px;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        max-width: 320px;
        margin: 0;
    }
}  