.cover__title {
    max-width: 560px;
    margin: 245px 0 0;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 20;
  }

@media screen and (max-width: 1024px) {
    .cover__title {
        margin: 195px 0 0;
     }
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 9.375vw;
        margin: 115px 0 0;
     }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 79.7vw;
        margin: 33px 0 0;
        font-size: 32px;
        line-height: 35px;
     }
}  