.place__paragraph {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
   }
   
   
 
    @media screen and (max-width: 1024px) {
        .place__paragraph {
            font-size: 1.758vw;
           }
    }

    @media screen and (max-width: 768px) {
        .place__paragraph {
            font-size: 16px;
            line-height: 1.63;
            }
    }  

    @media screen and (max-width: 320px) {
        .place__paragraph {
            margin: 0 16px 0;
            font-size: 5vw;
        }
    }   